add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow

# Core

ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list

ensure cron
ensure oxmysql
ensure ox_lib
ensure es_extended
ensure renzu_spawn
ensure ttyy_chat

ensure fivem-appearance
ensure esx_identity
ensure esx_multicharacter
ensure esx_notify
ensure ttyy_base
ensure screenshot-basic
ensure xsound
ensure esx_society
ensure esx_givevehicle
ensure esx_lscustom
ensure ttyy_robbery


# Esx Asset
ensure esx_license
ensure jsfour-idcard
ensure okokBanking
ensure esx_dmvschool
ensure renzu_vehicleshop
ensure esx_vehicleshop
#ensure ttyy_pdm
ensure ttyy_documents
ensure ttyy_account
ensure esx_status
ensure esx_basicneeds
ensure esx_stress
ensure ttyy_dc
ensure ttyy_scoreboard
ensure mb_questions
ensure mythic_notify
ensure ttyy_illegal
ensure op-duty
ensure vehcontrol
ensure ttyy_wm


# Extras
ensure PolyZone
ensure qtarget
ensure ox_inventory
start ttyy_nuipack
ensure okokBilling
ensure [jobs]
ensure [disnaker]
ensure [loaf]
ensure [robbery]
ensure pma-voice
ensure dpemotes
ensure ox_doorlock
ensure ttyy_radial
ensure ttyy_clothing
ensure ttyy_failure
ensure ox_fuel
ensure ttyy_carwash
ensure [menucontext]
ensure esx_givevehicle
ensure qb-hud
ensure ttyy_tunning
ensure toxicloading
ensure ac_radio

ensure ttyy_boombox
ensure blip-system

ensure ttyy_lapraces
##ensure ttyy_phone
ensure z-phone
ensure ttyy_garages
ensure ttyy_gym
ensure ttyy_chairs
ensure ttyy_backpack
ensure stg_walkingsticks
ensure ttyy_tireslash
ensure vstancer

#
ensure ttyy-1

#KENDARAAN ENSURE
ensure [mod]

restart ttyy_robbery
restart ttyy_nuipack
restart ttyy_chairs

ensure eastcustoms
ensure ttyy_maps

ensure sh-jobcenter