# # # # # # # # # # # # # # # # # # # # # # # # # # #
#    ___ _____  __  _    ___ ___   _   _____   __   #









# add_principal identifier.discord:666666666666666666 group.whitelist #PLAYER_2# add_principal identifier.fivem:5555555 group.whitelist #PLAYER_1# Contoh whitelist pemainadd_principal group.whitelist group.user# Tambahkan semua player yang boleh masuk server ke group.whitelist.# Dipakai oleh resource id_starter (opsional) atau ACL internal kamu.#   | __/ __\ \/ / | |  | __/ __| /_\ / __\ \ / /   #
#   | _|\__ \>  <  | |__| _| (_ |/ _ \ (__ \ V /    #
#   |___|___/_/\_\ |____|___\___/_/ \_\___| |_|     #
#                                                   #
#     Discord: https://discord.esx-framework.org/   #
#     Website: https://esx-framework.org/           #
#     CFG Docs: https://aka.cfx.re/server-commands  #
# # # # # # # # # # # # # # # # # # # # # # # # # # #


# Editable Settings
# -----------------
# You can edit the following:

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

# Set Tags
sets tags "indonesia, roleplay, rp, esx, esx legacy, bahasa indonesia"

# Optional Editable Settings
# --------------------------
# You may edit the following:

sv_licenseKey "cfxk_12WpE4yZU9C5X8qBtWZWc_3QM22M"
sv_hostname "GTA V Roleplay Indonesia | ESX Legacy"
sets sv_projectName "GTA V Roleplay Indonesia"
sets sv_projectDesc "Server roleplay Indonesia berbasis ESX Legacy dengan jobs, economy, housing, dan voice RP."
set mysql_connection_string "mysql://root@localhost/ESXLegacy_C4DB0C?charset=utf8mb4"
load_server_icon esxLogo.png
sv_maxclients 48
sets locale "id-ID"
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
sv_scriptHookAllowed 0
sv_endpointprivacy true
sv_enforceGameBuild 3258
set resources_useSystemChat true

# Access Control & Whitelist
# --------------------------
exec permissions.cfg
exec whitelist.cfg

# System Administrators
# ---------------------
# Add system admins

# Moved to permissions.cfg and whitelist.cfg

# pma-voice Config
# ----------------
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly false

# security-convars
# ----------------
sv_enableNetworkedSounds false
sv_enableNetworkedScriptEntityStates false
sv_enableNetworkedPhoneExplosions false
sv_filterRequestControl 2

# ESX Language (edit to change the language of ESX)
# -----------------------------------------------------------
## Uncomment to set your own locale,
## if not, it will use the language you have selected in txAdmin.
setr esx:locale "id"

## Uncomment to owerride the identifier used by ESX.
## By default, it uses the license identifier.
setr esx:identifier "license"

# Default & Standalone Resources (Optimized Load Order)
# -------------------------------------------------------
# 1. Database first (required by everything)
start oxmysql

# 2. Core libraries



start ox_lib
ensure chat
start esx_chat_theme
ensure hardcap

# 3. ESX Core Framework
ensure [core]

# 4. UI & Inventory
start ox_target
start ox_inventory

# 5. Server features
ensure [standalone]
ensure illenium-appearance
ensure appearance_compat
ensure [esx_addons]

# 6. Addons & utilities
ensure player_logger
ensure steam_identifier
ensure id_loadingscreen



ensure [veh]

ensure [mlo]


stop chat